/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family: 'Open Sans', sans-serif;
}

.header {
  margin-top: 5%;
}

.header h1{
  text-align: center;
  font-family: 'Muli', sans-serif;
  font-size: 60px;
}

.header i {
  font-size: 10px;
  color: #c154ab;
  padding-right: 4px;
  padding-left: 4px;
}


.social ul {
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 0;
}

.social li {
  display: inline-block;
  padding-left: 3%;
  padding-right: 3%;
}

.social i{
  font-size: 20px;
}

.social li a {
  color: #333;
  -webkit-transition: 0.5s; /* For Safari 3.1 to 6.0 */
  transition: 0.5s;
}

.social li a:hover {
  color: #c154ab;
}


.section-title {
  font-family: 'Muli', sans-serif;
  margin-top: 70px;
  margin-bottom: 40px;
}

/*.section-title h3 {
  display: inline;
  color: #fff;
  background: #333;
}
*/

.service-section {
  margin-bottom: 45p}

.service p {
  line-height: 1.5;
}

.service {
    margin: 0;
    -webkit-transition: all .15s linear;
       -moz-transition: all .15s linear;
        -ms-transition: all .15s linear;
         -o-transition: all .15s linear;
            transition: all .15s linear;
}
    .service:hover {
        margin-top: -5px;
    }
 

.descript {
  margin-bottom: 50px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #333;
}

.footer ul {
  margin-top: 20px;
}

.footer-links li {
  color: #fff;
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

.footer-links a {
  color: #FFF;
}

.footer p {
  margin-top: 20px;
  color: #fff;
  text-align: center;
}