/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 120px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 120px;
  padding-top: 20px;
  background-color: #3D3F43;
}

.footer-text {
  color: #F3F3F3;
  font-size: 17px;
 
}

footer a {
  color: white;
  font-size: 15px;
}

footer a:hover{
 color: #FFB400;
 text-decoration: none;
}
  
footer ul {
  list-style: none;

}

footer li {
  /*line-height: 1.8em;*/
  display: inline-block;
  font-size: 13px;
  padding-right: 20px;
}

footer i {
  padding-right: 3px;
}
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 900px;
  padding: 0 15px;
}

.container-wide {
  width: auto;
  width:100%;
  padding: 0 15px;
}

.container .text-muted {
  margin: 20px 0;
}


/** Generic CSS **/

.no-padding {
  padding: 0; }

.no-gutter [class*=col-] {
  padding-right: 0;
  padding-left: 0; }

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.mtl {
  margin-top: 80px;
}
.mtm {
  margin-top: 50px;
}
.mts {
  margin-top: 20px;
}
.mtxs {
  margin-top: 5px;
}

.mbl {
  margin-bottom: 80px;
}
.mbm {
  margin-bottom: 50px;
}
.mbs {
  margin-bottom: 20px;
}
.mbxs {
  margin-bottom: 5px;
}
.no-margin {
  margin: 0;
}


.gray-section {
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #f4f4f4;  
}

.gray-section-text {
  text-align: justify;
  line-height: 1.5em;
  font-size: 18px;
}

.img-seperator {
  height: 200px;
  background:#efefef url('../images/books2.jpg');
  background-position: 28% 34%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat; 
}

.contact a{
  margin-right: 10px;
  margin-left: 10px;
}
.contact i{
  padding-right: 5px;
}

.info a{
  margin-right: 10px; 
  margin-left:10px;
}

.btn-responsive {
    white-space: normal !important;
    word-wrap: break-word;
}


.btn-contact,
.btn-contact:active,
.btn-contact:visited,
.btn-contact:focus {
    background-color: #112B57;
    border-color: #0D1E3A;
    color: #ffffff;
}

.btn-contact:hover {
   background-color: #1D3F79;
   color: #ffffff;
}

/** Typography **/

body {
  font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Playfair Display', serif;
}

.h1,.h2,.h3,.h4,.h5,.h6 {
  font-family: 'Playfair Display', serif;
}

.bold {
  font-weight: 700;
  font-size: 18px;
}

.small{
  font-size: 12px;
}

.bigger {
  font-size: 1.5em;
}

.line-break {
  border-bottom: 1px solid #eee;
}

.text-left {
  text-align: left !important;
}

.mega {
  padding-top:8%;
  font-size: 3.6em;
  color: #020202;
}

.bold-underline {
  content: "";
  display: table-cell;
  width: 100%;
  padding-bottom: 5px;
  border-bottom: 5px solid #333333;
}

blockquote {
  font-family: Georgia, serif;
  font-size: 18px;
  font-style: italic;
  line-height: 1.45;
  position: relative;
  color: #383838;
  border-left: none;
  margin-left: 10px;
}

blockquote:before {
  display: block;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -20px;
  top: -20px;
  color: #7a7a7a;
}

blockquote cite {
  color: #999999;
  font-size: 20px;
  display: block;
  margin-top: 5px;
}
 
blockquote cite:before {
  content: "\2014 \2009";
}

/***HEADER***/

.page-header-alt {
  border-bottom: none;
  margin-top: 20px;
  margin-bottom: 30px;
}

.bold-underline-header {
  content: "";
  display: table-cell;
  width: 100%;
  padding-bottom: 5px;
  border-bottom: 5px solid #0A0A0A;
  color: #0A0A0A;
  font-weight: 700;
}


.logo {
  max-width: 550px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-responsive, .header-img {
  max-height: 400px;
  width: 100%;
}

.thumbnail {
    position: relative;
    border: none;
    background-color: transparent;
}

.thumbnail .caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
    color: #ffffff;
    padding-right: 10%;
    padding-left: 10%;
}

.bg-yellow-top {
  background-color: #FFB400;
  height: auto;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 60px;
}

.bg-gray {
  background-color: #FFB400;
  height: 500px;
}

.bg-text-box{
  position: absolute;
  padding: 5%;
  margin-right: 10%;
  margin-left: 10%;
  border: solid 1px #2A2A2A;
  top: 12%;
}



.bg-text {
  font-size: 16px;
  line-height: 1.6em;
  text-align: justify;
  color: #1A1A1A;
  font-weight: 700;
}

.bg-text,h2 {
  color: #1A1A1A;
}

.bg-one {
  height: 500px;
  background:#efefef url('../images/gavel-dark.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
}

@media only screen and (max-width: 640px)  {
  .bg-text-box {
    top:0;
  }
}

