.storelocator-panel {
  overflow: auto;
}

.storelocator-panel .store-list {
  margin: 0;
  padding: 0;
}

.storelocator-panel .store-list li,
.storelocator-panel .directions-panel {
  padding: 5px;
}
.storelocator-panel .directions-panel {
  font-size: 1em;
}

.storelocator-panel .store-list li.store:hover {
  cursor: pointer;
  background: #eee;
}

.storelocator-panel .store-list li.highlighted,
.storelocator-panel .store-list li.highlighted:hover {
  background: #D5D5D5;
}

.storelocator-panel .directions {
  display: none;
}

.storelocator-panel .location-search {
  padding: 5px;
}

.storelocator-panel .location-search input {
  width: 95%;
}

.storelocator-panel .location-search h4 {
  font-size: 1em;
  margin: 0;
  padding-bottom: 5px;
}

.storelocator-panel .store-list .no-stores {
  color: #333333;
}

.storelocator-panel .store .features {
  display: none;
}

.storelocator-panel .feature-filter {
  overflow: hidden;
}

.storelocator-panel .feature-filter label {
  display: block;
  font-size: 0.8em;
  margin: 0 0.4em;
  float: left;
}

.store .title {
  font-weight: bold;
  color: #333333;
}

.store .address,
.store .phone,
.store .web,
.store .misc {
	font-size: 80%;
	margin-top: 0.2em;
	margin-bottom: 0.5em;
	display: block;
  color: #333333;
}

.store .features {
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-size: 70%;
  max-width: 250px;
  color: #333333;
}

.store .features li {
  display: inline;
  float: left;
  padding-right: 0.8em;
}

.store .web a {
  color: green
}

.store .action {
  font-size: 0.8em;
  font-weight: 700;
  margin-right: 0.5em;
}

.gm-style .gm-style-iw {
    font-weight: 300;
    font-size: 16px;
  }

.directions-to  {
  margin-bottom: 10px;
}

.directions-panel input[type="submit"] {
  background-color: #DC2727;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  border: 0;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  text-transform: uppercase; 
  margin-right: 5px;
}

.close-directions {
  font-weight: 700;
  text-transform: uppercase;
}