@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-untitled, .icon-untitled-2, .icon-facebook, .icon-twitter, .icon-instagram, .icon-evernote, .icon-rdio, .icon-linkedin, .icon-googleplus, .icon-heart, .icon-mobile, .icon-phone, .icon-mail, .icon-reply, .icon-user, .icon-forward, .icon-location, .icon-compass, .icon-search, .icon-heart-2, .icon-calendar, .icon-eye, .icon-info, .icon-checkmark, .icon-cross, .icon-github, .icon-house, .icon-apple, .icon-lab, .icon-pacman, .icon-books, .icon-thumbs-up, .icon-palette, .icon-rocket, .icon-image, .icon-camera, .icon-pencil, .icon-search-2, .icon-clock, .icon-alarm, .icon-stopwatch, .icon-laptop, .icon-dribbble {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-untitled:before {
	content: "\f000";
}
.icon-untitled-2:before {
	content: "\21";
}
.icon-facebook:before {
	content: "\22";
}
.icon-twitter:before {
	content: "\23";
}
.icon-instagram:before {
	content: "\24";
}
.icon-evernote:before {
	content: "\25";
}
.icon-rdio:before {
	content: "\26";
}
.icon-linkedin:before {
	content: "\27";
}
.icon-googleplus:before {
	content: "\28";
}
.icon-heart:before {
	content: "\29";
}
.icon-mobile:before {
	content: "\2a";
}
.icon-phone:before {
	content: "\2b";
}
.icon-mail:before {
	content: "\2c";
}
.icon-reply:before {
	content: "\2d";
}
.icon-user:before {
	content: "\2e";
}
.icon-forward:before {
	content: "\2f";
}
.icon-location:before {
	content: "\30";
}
.icon-compass:before {
	content: "\31";
}
.icon-search:before {
	content: "\32";
}
.icon-heart-2:before {
	content: "\33";
}
.icon-calendar:before {
	content: "\34";
}
.icon-eye:before {
	content: "\35";
}
.icon-info:before {
	content: "\36";
}
.icon-checkmark:before {
	content: "\37";
}
.icon-cross:before {
	content: "\38";
}
.icon-github:before {
	content: "\39";
}
.icon-house:before {
	content: "\3a";
}
.icon-apple:before {
	content: "\3b";
}
.icon-lab:before {
	content: "\3c";
}
.icon-pacman:before {
	content: "\3d";
}
.icon-books:before {
	content: "\3e";
}
.icon-thumbs-up:before {
	content: "\3f";
}
.icon-palette:before {
	content: "\40";
}
.icon-rocket:before {
	content: "\41";
}
.icon-image:before {
	content: "\42";
}
.icon-camera:before {
	content: "\43";
}
.icon-pencil:before {
	content: "\44";
}
.icon-search-2:before {
	content: "\45";
}
.icon-clock:before {
	content: "\46";
}
.icon-alarm:before {
	content: "\47";
}
.icon-stopwatch:before {
	content: "\48";
}
.icon-laptop:before {
	content: "\49";
}
.icon-dribbble:before {
	content: "\4a";
}
