/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/**
 * CSS Modal
 * Modal as reusable module
 * http://drublic.github.com/css-modal
 *
 * @author Hans Christian Reinl - @drublic
 * @version 1.0.4
 *
 * Usage:
 *    selector {
 *        @extend %modal;
 *    }
 */
/*
 * Configuration
 */
/* line 26, ../sass/modal.scss */
html {
  overflow-y: scroll;
}

/* line 30, ../sass/modal.scss */
.has-overlay {
  overflow: hidden;
}
/* line 33, ../sass/modal.scss */
.has-overlay > body {
  height: 100%;
  overflow-y: scroll;
}

/* line 39, ../sass/modal.scss */
.semantic-content, .popup {
  -webkit-transform: translate(0, 100%);
  -moz-transform: translate(0, 100%);
  -o-transform: translate(0, 100%);
  -ms-transform: translate(0, 100%);
  transform: translate(0, 100%);
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  opacity: 0;
  color: #222;
  line-height: 1.3;
  display: none\9;
}
/* line 63, ../sass/modal.scss */
.semantic-content:target, .popup:target {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
}
/* line 77, ../sass/modal.scss */
.is-active.semantic-content, .is-active.popup {
  display: block\9;
}
/* line 82, ../sass/modal.scss */
.semantic-content:target, .popup:target {
  display: block\9;
}
/* line 88, ../sass/modal.scss */
.semantic-content .modal-inner, .popup .modal-inner {
  position: absolute;
  top: 50px;
  left: 50%;
  z-index: 20;
  margin-left: -325px;
  width: 650px;
  overflow-x: hidden;
  border-radius: 2px;
  background: #fff;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
}
/* line 105, ../sass/modal.scss */
.semantic-content .modal-inner > img, .popup .modal-inner > img,
.semantic-content .modal-inner > video,
.popup .modal-inner > video,
.semantic-content .modal-inner > iframe,
.popup .modal-inner > iframe {
  width: 100%;
  height: auto;
  min-height: 300px;
}
/* line 111, ../sass/modal.scss */
.semantic-content .modal-inner > img, .popup .modal-inner > img {
  width: auto;
  max-width: 100%;
}
/* line 118, ../sass/modal.scss */
.semantic-content header, .popup header {
  border-bottom: 1px solid #dddddd;
  padding: 0 1.2em;
}
/* line 122, ../sass/modal.scss */
.semantic-content header > h2, .popup header > h2 {
  margin: 0.5em 0;
}
/* line 129, ../sass/modal.scss */
.semantic-content .modal-content, .popup .modal-content {
  max-height: 400px;
  max-height: 70vh;
  border-bottom: 1px solid #dddddd;
  padding: 15px 1.2em;
  overflow-x: hidden;
  overflow-y: auto;
}
/* line 137, ../sass/modal.scss */
.semantic-content .modal-content > *, .popup .modal-content > * {
  max-width: 100%;
}
/* line 144, ../sass/modal.scss */
.semantic-content footer, .popup footer {
  border-top: 1px solid white;
  padding: 0 1.2em 18px;
  background: #f0f0f0;
  border-radius: 2px;
}
/* line 153, ../sass/modal.scss */
.semantic-content .modal-close, .popup .modal-close {
  display: block;
  text-indent: -100px;
  overflow: hidden;
}
/* line 159, ../sass/modal.scss */
.semantic-content .modal-close:before, .popup .modal-close:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AAAAAMwA0QDNTiUx4gAAAABJRU5ErkJggg==");
}
/* line 173, ../sass/modal.scss */
.semantic-content .modal-close:after, .popup .modal-close:after {
  content: '\00d7';
  position: absolute;
  top: 25px;
  left: 50%;
  z-index: 20;
  margin-left: 285px;
  background: #fff;
  border-radius: 2px;
  padding: 2px 8px;
  font-size: 1.2em;
  text-decoration: none;
  text-indent: 0;
}
@media screen and (max-width: 690px) {
  /* line 195, ../sass/modal.scss */
  .semantic-content .modal-inner, .popup .modal-inner {
    width: auto;
    left: 20px;
    right: 20px;
    margin-left: 0;
  }
  /* line 202, ../sass/modal.scss */
  .semantic-content .modal-close, .popup .modal-close {
    left: auto;
    right: 33px;
    margin-left: 0;
  }
  /* line 207, ../sass/modal.scss */
  .semantic-content .modal-close:after, .popup .modal-close:after {
    margin-left: 40%;
  }
}
@media screen and (max-width: 30em) {
  /* line 39, ../sass/modal.scss */
  .semantic-content, .popup {
    -webkit-transform: translate(0, 400px);
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    -webkit-transition: -webkit-transform .25s ease-in-out, opacity 1ms .25s;
    -moz-transition: -moz-transform .25s ease-in-out, opacity 1ms .25s;
    -o-transition: -o-transform .25s ease-in-out, opacity 1ms .25s;
    -ms-transition: -ms-transform .25s ease-in-out, opacity 1ms .25s;
    transition: transform .25s ease-in-out, opacity 1ms .25s;
    display: block;
    height: 100%;
    bottom: auto;
  }
  /* line 229, ../sass/modal.scss */
  .semantic-content:target, .popup:target {
    -webkit-transition: -webkit-transform .25s ease-in-out;
    -moz-transition: -moz-transform .25s ease-in-out;
    -o-transition: -o-transform .25s ease-in-out;
    -ms-transition: -ms-transform .25s ease-in-out;
    transition: transform .25s ease-in-out;
  }
  /* line 237, ../sass/modal.scss */
  .semantic-content:before, .popup:before {
    background-color: #27aae2;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#27aae2), to(#1c9cd3));
    background-image: -webkit-linear-gradient(top, #27aae2, #1c9cd3);
    background-image: -moz-linear-gradient(top, #27aae2, #1c9cd3);
    background-image: -o-linear-gradient(top, #27aae2, #1c9cd3);
    background-image: linear-gradient(to bottom, #27aae2, #1c9cd3);
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 30;
    height: 3em;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  }
  /* line 256, ../sass/modal.scss */
  .semantic-content .modal-inner, .popup .modal-inner {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 3em;
    height: 100%;
    overflow: scroll;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  /* line 271, ../sass/modal.scss */
  .semantic-content .modal-content, .popup .modal-content {
    max-height: none;
  }
  /* line 275, ../sass/modal.scss */
  .semantic-content .modal-close, .popup .modal-close {
    right: auto;
    text-decoration: none;
  }
  /* line 279, ../sass/modal.scss */
  .semantic-content .modal-close:before, .popup .modal-close:before {
    display: none;
  }
  /* line 283, ../sass/modal.scss */
  .semantic-content .modal-close:after, .popup .modal-close:after {
    content: attr(data-close);
    top: 0.4em;
    left: 1em;
    z-index: 40;
    margin-left: 0;
    font-size: 1em;
    padding: 0.5em 1em;
  }
}
@media screen and (max-height: 46em) and (min-width: 30em) {
  /* line 297, ../sass/modal.scss */
  .semantic-content .modal-content, .popup .modal-content {
    max-height: 340px;
    max-height: 50vh;
  }
}
@media screen and (max-height: 36em) and (min-width: 30em) {
  /* line 304, ../sass/modal.scss */
  .semantic-content .modal-content, .popup .modal-content {
    max-height: 265px;
    max-height: 40vh;
  }
}

@media screen and (min-width: 30em) {
  /* line 313, ../sass/modal.scss */
  .semantic-content {
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    transition: opacity 0.4s;
  }
}

/*== Variables == */
/*== Mixins == */
/*== Frame == */
/* line 40, ../sass/screen.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 46, ../sass/screen.scss */
body {
  margin: 0 auto;
  padding: 0;
  line-height: 1.7em;
  position: absolute;
  width: 100%;
}

/* line 54, ../sass/screen.scss */
.mbs {
  margin-bottom: 10px;
}

/* line 58, ../sass/screen.scss */
.mbl {
  margin-bottom: 50px;
}

/* line 62, ../sass/screen.scss */
.mtl {
  margin-top: 50px;
}

/* line 66, ../sass/screen.scss */
.modal-header {
  margin-top: 50px;
}

/* line 70, ../sass/screen.scss */
.header {
  margin: 0 0;
}

/* line 74, ../sass/screen.scss */
.header .pure-menu {
  padding: 0.5em;
}

/* line 79, ../sass/screen.scss */
.header .pure-menu li a:hover,
.header .pure-menu li a:focus {
  background: none;
  border: none;
  color: #aaa;
}

/* line 85, ../sass/screen.scss */
body .primary-button {
  background: #db1818;
  color: #fff;
}

/* line 90, ../sass/screen.scss */
#title {
  width: 100%;
  height: 100%;
}

/* line 95, ../sass/screen.scss */
#portfolio {
  margin-top: 50%;
  height: 100%;
}

/* line 108, ../sass/screen.scss */
#footer {
  background: rgba(119, 119, 119, 0.3);
  color: #888;
  text-align: center;
}

/* line 115, ../sass/screen.scss */
.zero {
  margin-bottom: 0 !important;
}

/* line 119, ../sass/screen.scss */
.zero-top {
  margin-top: 0 !important;
}

/* line 123, ../sass/screen.scss */
.photo-box, .text-box {
  overflow: hidden;
  position: relative;
  height: 250px;
}

/* line 130, ../sass/screen.scss */
.photo-box img {
  min-height: 250px;
  width: 100%;
}

/* line 136, ../sass/screen.scss */
.photo-box aside span {
  color: #aaa;
}

/* line 140, ../sass/screen.scss */
.photo-box aside span a {
  color: #ccc;
  text-decoration: none;
}

@media (max-width: 767px) {
  /* line 147, ../sass/screen.scss */
  .photo-box, .text-box {
    text-align: center;
  }

  /* line 151, ../sass/screen.scss */
  .photo-box img {
    width: 100%;
  }

  /* line 155, ../sass/screen.scss */
  .text-box {
    height: auto;
  }
}
/* line 160, ../sass/screen.scss */
.wide {
  background-size: cover;
}

/*== Typography == */
/* line 165, ../sass/screen.scss */
.center {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
}

/* line 169, ../sass/screen.scss */
.content p {
  margin-bottom: 25px;
}

/* line 173, ../sass/screen.scss */
.name {
  font-family: 'Montserrat', sans-serif;
  font-size: 70px;
  margin-top: 200px;
  margin-bottom: 50px;
  color: #231F20;
}

/* line 181, ../sass/screen.scss */
.thin {
  font-family: 'Wire One', sans-serif;
  font-size: 3em;
  margin-bottom: 50px;
}

/* line 187, ../sass/screen.scss */
.init {
  display: none;
}

/* line 190, ../sass/screen.scss */
.small {
  display: none;
}

/* line 193, ../sass/screen.scss */
.small2 {
  display: none;
}

/* line 197, ../sass/screen.scss */
.job {
  font-size: 15px;
  font-weight: bold;
  color: #000;
}

/* line 203, ../sass/screen.scss */
.title {
  font-weight: bold;
}

/* line 207, ../sass/screen.scss */
.personal li {
  font-size: 25px;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 50px;
  margin-right: 30px;
  margin-left: 30px;
  color: #302f2f;
}

/* line 217, ../sass/screen.scss */
.personal a {
  color: #302f2f;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
/* line 220, ../sass/screen.scss */
.personal a:hover {
  color: #47d5e5;
}

/* line 225, ../sass/screen.scss */
.modal-text {
  color: #302f2f;
}

/* line 229, ../sass/screen.scss */
.modal-content li {
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  /* line 235, ../sass/screen.scss */
  .name {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.1em;
    margin-bottom: 50px;
    color: #231F20;
  }

  /* line 242, ../sass/screen.scss */
  .thin {
    font-family: 'Wire One', sans-serif;
    font-size: 1.8em;
  }

  /* line 247, ../sass/screen.scss */
  .big {
    display: none;
  }

  /* line 252, ../sass/screen.scss */
  .init {
    display: block;
  }

  /* line 256, ../sass/screen.scss */
  .small {
    display: block;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 7px;
  }

  /* line 263, ../sass/screen.scss */
  .small2 {
    display: block;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 7px;
    color: #FFF;
  }
}
/* line 272, ../sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

/* line 276, ../sass/screen.scss */
h1 {
  font-size: 5em;
}

/* line 280, ../sass/screen.scss */
h2 {
  font-size: 3em;
}

/* line 284, ../sass/screen.scss */
h3 {
  font-size: 1.6em;
}

/* line 288, ../sass/screen.scss */
h4 {
  font-size: 1.4em;
}

/* line 292, ../sass/screen.scss */
h4 {
  font-size: 1.2em;
}

/* line 297, ../sass/screen.scss */
strong {
  font-weight: bold;
}

/*== Images == */
/* line 304, ../sass/screen.scss */
.smheart {
  width: 30px;
  margin-top: 40px;
}

/* --- Link configuration that contains the image and label ---*/
/* line 311, ../sass/screen.scss */
.viewport a {
  display: block;
  position: relative;
}

/* line 316, ../sass/screen.scss */
.viewport a img {
  position: relative;
}

/* --- Label configuration --- */
/* line 321, ../sass/screen.scss */
.viewport a span {
  display: none;
  font-size: 3.0em;
  font-weight: bold;
  height: 100%;
  padding-top: 120px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  width: 100%;
  z-index: 100;
}

/* --- Dark hover background ---*/
/* line 336, ../sass/screen.scss */
.dark-background {
  background-color: rgba(15, 15, 15, 0.6);
  color: #fff;
  text-shadow: #000 0px 0px 20px;
}

/* line 343, ../sass/screen.scss */
.plus {
  font-family: Helvetica;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.85);
  font-size: 6em;
}

/* line 351, ../sass/screen.scss */
.logo {
  width: 300px;
  height: auto;
}

/* line 356, ../sass/screen.scss */
.l-box {
  padding: 1em;
}

/* line 360, ../sass/screen.scss */
.rules .l-box img {
  width: 150px;
}

/* line 364, ../sass/screen.scss */
.floating {
  -webkit-transform: translateY(-100%) scale(0.5);
  -moz-transform: translateY(-100%) scale(0.5);
  -ms-transform: translateY(-100%) scale(0.5);
  -o-transform: translateY(-100%) scale(0.5);
  transform: translateY(-100%) scale(0.5);
}

/* line 368, ../sass/screen.scss */
.bigheart {
  width: 120px;
  margin-top: 160px;
}

/* line 374, ../sass/screen.scss */
.oval {
  width: 50px;
  height: 20px;
  background: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 100px 50px;
  -moz-border-radius: 100px / 50px;
  border-radius: 100px / 50px;
}

/* === Fancybox ===*/
/* line 383, ../sass/screen.scss */
.fancybox-title-over-wrap {
  width: 100%;
  padding: 0;
}

/* line 388, ../sass/screen.scss */
.fancybox-title-over-wrap > div {
  padding: 10px;
}

/* line 392, ../sass/screen.scss */
.hidden {
  display: none;
}

/*== Tipsy - Tooltip == */
/* ----- TOOLTIP ---- */
/* line 400, ../sass/screen.scss */
.tipsy {
  font-size: 11px;
  position: absolute;
  padding: 5px;
  z-index: 100000;
}

/* line 407, ../sass/screen.scss */
.tipsy-inner {
  background-color: #000;
  color: #FFF;
  font-family: Helvetica;
  max-width: 200px;
  padding: 5px 8px 4px 8px;
  text-align: center;
}

/* Rounded corners */
/* line 417, ../sass/screen.scss */
.tipsy-inner {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* Uncomment for shadow */
/*.tipsy-inner { box-shadow: 0 0 5px #000000; -webkit-box-shadow: 0 0 5px #000000; -moz-box-shadow: 0 0 5px #000000; }*/
/* line 424, ../sass/screen.scss */
.tipsy-arrow {
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  border: 5px dashed #000;
}

/* Rules to colour arrows */
/* line 433, ../sass/screen.scss */
.tipsy-arrow-n {
  border-bottom-color: #000;
}

/* line 437, ../sass/screen.scss */
.tipsy-arrow-s {
  border-top-color: #000;
}

/* line 441, ../sass/screen.scss */
.tipsy-arrow-e {
  border-left-color: #000;
}

/* line 445, ../sass/screen.scss */
.tipsy-arrow-w {
  border-right-color: #000;
}

/* line 449, ../sass/screen.scss */
.tipsy-n .tipsy-arrow {
  top: 0px;
  left: 50%;
  margin-left: -5px;
  border-bottom-style: solid;
  border-top: none;
  border-left-color: transparent;
  border-right-color: transparent;
}

/* line 450, ../sass/screen.scss */
.tipsy-nw .tipsy-arrow {
  top: 0;
  left: 10px;
  border-bottom-style: solid;
  border-top: none;
  border-left-color: transparent;
  border-right-color: transparent;
}

/* line 451, ../sass/screen.scss */
.tipsy-ne .tipsy-arrow {
  top: 0;
  right: 10px;
  border-bottom-style: solid;
  border-top: none;
  border-left-color: transparent;
  border-right-color: transparent;
}

/* line 452, ../sass/screen.scss */
.tipsy-s .tipsy-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-top-style: solid;
  border-bottom: none;
  border-left-color: transparent;
  border-right-color: transparent;
}

/* line 453, ../sass/screen.scss */
.tipsy-sw .tipsy-arrow {
  bottom: 0;
  left: 10px;
  border-top-style: solid;
  border-bottom: none;
  border-left-color: transparent;
  border-right-color: transparent;
}

/* line 454, ../sass/screen.scss */
.tipsy-se .tipsy-arrow {
  bottom: 0;
  right: 10px;
  border-top-style: solid;
  border-bottom: none;
  border-left-color: transparent;
  border-right-color: transparent;
}

/* line 455, ../sass/screen.scss */
.tipsy-e .tipsy-arrow {
  right: 0;
  top: 50%;
  margin-top: -5px;
  border-left-style: solid;
  border-right: none;
  border-top-color: transparent;
  border-bottom-color: transparent;
}

/* line 456, ../sass/screen.scss */
.tipsy-w .tipsy-arrow {
  left: 0;
  top: 50%;
  margin-top: -5px;
  border-right-style: solid;
  border-left: none;
  border-top-color: transparent;
  border-bottom-color: transparent;
}

/* line 458, ../sass/screen.scss */
.tip {
  cursor: pointer;
}

/*==== PureCSS Overrides === */
/* line 465, ../sass/screen.scss */
.pure-button {
  font-family: "Arial"  'sans-serif';
  font-weight: 200;
}

/* line 470, ../sass/screen.scss */
.snd-button {
  background-color: #02B1CA;
  color: white;
}

/* line 475, ../sass/screen.scss */
a {
  text-decoration: none;
}
