/** General CSS **/

.center {
	display: block;
    margin-left: auto;
    margin-right: auto;
	text-align: center;
}

.mtl {
	margin-top: 30px;
}

.mts {
	margin-top: 8px;
}

.mbl {
	margin-bottom: 30px;
}


.mbxl {
	margin-bottom: 80px;
}

.jumbo {
	font-size: 60em;
	color:rgba(239,55,55,0.7);
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
	text-align: center;
	line-height: .5em;
}

.links {
	margin-top: 100px;
}

.title {
	font-family: 'Raleway' , sans-serif;
	font-weight: 700;
	letter-spacing: 1px;
}

.hi {
	font-size: 40px;
	color: #000;
}


h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
}


.init{
	display:none;
}
.small{
	display:none;
}
.small2{
	display:none;
}

.job {
	font-size: 15px;
	font-weight: bold;
	color:#000;
}

@media only screen and (max-width: 767px) {       
	.big {
		display:none;
	}


	.init {
		display:block;
	}

	.small {
		display:block;
		font-size: 20px;
		margin-top: 10px;
		margin-left:7px;
	}

	.small2 {
		display:block;
		font-size: 20px;
		margin-top: 10px;
		margin-left:7px;
		color:#FFF;
	}

	.name {
	font-family: 'Raleway', sans-serif;
	font-weight: 500; 
	font-size: 70px; 
	letter-spacing: 0px;
	}	

	#footer{
		height: 155px !important; 
	}

	.pt-page-1 {
    background: #FFF;
    overflow: auto;
	}

}

/** Page Trasitions General **/
html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    overflow: hidden;
}



/** Page Transition Essentials **/
.pt-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    perspective: 1200px;
}

.pt-page {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.pt-trigger {
    border: none;
    cursor: pointer;
    display: inline-block;
   
}

/*  .pt-trigger-container {
    z-index: 999999;
    margin-top: 100px;
  -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}*/

.pt-page-current, .no-js .pt-page {
    visibility: visible;
    z-index: 1;
}

.no-js body {
    overflow: auto;
}

/** Page Styles **/
.pt-page-ontop {
    z-index: 999;
}
/*
.pt-page h1 {
    position: absolute;
    font-weight: 300;
    font-size: 4.4em;
    line-height: 1;
    letter-spacing: 6px;
    margin: 0;
    top: 1%;
    width: 100%;
    text-align: center;
    word-spacing: -0.3em;
}
*/

.pt-page-1 {
    background: #FFF;
}

.pt-page-2 {
    background: #FFF;
    overflow: auto;
}

.pt-page-3 {
    background: #FFF;
    overflow: auto;
}

.pt-page-4 {
    background: #f29da1;
}

.pt-page-5 {
    background: #fd6a62;
}

.pt-page-6 {
    background: #f68dbb;
}

/** Heart Styles **/

.bigheart{
	width: 120px;
	margin-top: 160px;
}

.bigheart2{
	width: 30px;
	margin-top: 40px;

}

.floating{
    -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
}

@keyframes Floatingx{
    from { transform:translate(0, 0px);}
    65% { transform:translate(0, 15px);}
    to { transform: translate(0, -0px);}    
}

@-webkit-keyframes Floatingx{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 15px);}
    to {-webkit-transform: translate(0, -0px);}    
}
    
@-moz-keyframes Floating{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(0, 15px);}
    to {-moz-transform: translate(0, -0px);}    
}

.oval {
   width: 50px; 
   height: 20px; 
   background: rgba(0, 0, 0, 0.2); 
   -moz-border-radius: 100px / 50px; 
   -webkit-border-radius: 100px / 50px; 
   border-radius: 100px / 50px;
}

.oval2 {
   width: 25px; 
   height: 8px; 
   margin-top: 5px;
   margin-bottom: 40px;
   background: rgba(0, 0, 0, 0.2); 
   -moz-border-radius: 100px / 50px; 
   -webkit-border-radius: 100px / 50px; 
   border-radius: 100px / 50px;
}

.scaling{
    -webkit-animation-name: scalex;
    -webkit-animation-duration:3s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -moz-animation-name: scale;
    -moz-animation-duration:3s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:ease-in-out;
}
    
    @-webkit-keyframes scalex{
        from {-webkit-transform: scale(0.9);}
        65% {-webkit-transform: scale(1.0);}
        to {-webkit-transform: scale(0.9);}    
    }
        
    @-moz-keyframes scale{
        from {-moz-transform: scale(0.9);}
        65% {-moz-transform: scale(1.0);}
        to {-moz-transform: scale(0.9);}    
    }

    @keyframes scalex{
    	from {-moz-transform: scale(0.9);}
        65% {-moz-transform: scale(1.0);}
        to {-moz-transform: scale(0.9);}     
	}

.smallheart{
	width: 50px;
	margin-top: 10px;
}



/** Magnific Lightbox Styles **/
.controls{
	display: inline-block;
	margin: 0 0 10px;
	vertical-align: top;
}

.controls li{
	margin-left: 20px;
	cursor: pointer;
	display: inline;
	list-style-type: square;
}

.controls li.active{
	font-weight: 700;
}


#Grid:after{
	content: '';
	display: inline-block;
	width: 100%;
}

#Grid .mix{
	display: none;
	opacity: 0;
	width: 200px;
	height: 200px;
	vertical-align: top;
	margin-bottom: 40px;
	color: #fff;
	margin-right: 10px;
	font-size: 30px;
	text-align: center;
	line-height: 200px;
}

#Grid img{ 
	float: left; 
	margin: 15px; 
	-webkit-transition: margin 0.5s ease-out; 
	-moz-transition: margin 0.5s ease-out; 
	-o-transition: margin 0.5s ease-out; 
} 

#Grid img:hover { 
	margin-top: 2px;
}
/* Rotating Button -Codrops */
.resume {
	margin-top: 0;
	margin-bottom: 30px;
}


*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.cl-effect-2 a {
	line-height: 44px;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	perspective: 1000px;
	color: #fff;
}

.cl-effect-2 a span {
	position: relative;
	display: inline-block;
	padding: 0 14px;
	background: #2195de;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transform-origin: 50% 0;
	-moz-transform-origin: 50% 0;
	transform-origin: 50% 0;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.csstransforms3d .cl-effect-2 a span::before {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	background: #0965a0;
	content: attr(data-hover);
	-webkit-transition: background 0.3s;
	-moz-transition: background 0.3s;
	transition: background 0.3s;
	-webkit-transform: rotateX(-90deg);
	-moz-transform: rotateX(-90deg);
	transform: rotateX(-90deg);
	-webkit-transform-origin: 50% 0;
	-moz-transform-origin: 50% 0;
	transform-origin: 50% 0;
}

.cl-effect-2 a:hover span,
.cl-effect-2 a:focus span {
	-webkit-transform: rotateX(90deg) translateY(-22px);
	-moz-transform: rotateX(90deg) translateY(-22px);
	transform: rotateX(90deg) translateY(-22px);
}

.csstransforms3d .cl-effect-2 a:hover span::before,
.csstransforms3d .cl-effect-2 a:focus span::before {
	background: #28a2ee;	
}
/* General button style (reset) */
.btn-custom {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 10px 19px;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-custom:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-2 {
	background: #1ABC9C;
	color: #fff;
	box-shadow: 0 8px #16A085;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}
/* Button 2c */
.btn-2c {
	border-radius: 5px;
}

.btn-2c:hover {
	box-shadow: 0 4px #16A085;
	top: 2px;
	color: #fff;
}

.btn-2c:active {
	box-shadow: 0 0 #16A085;
	top: 6px;
}


.btn-2d {
	background: #2ECC71;
	color: #fff;
	box-shadow: 0 8px #1ea054;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}

/* Button 2d */
.btn-2d {
	border-radius: 5px;
}

.btn-2d:hover {
	box-shadow: 0 4px #1ea054;
	top: 2px;
	color: #fff;
}

.btn-2d:active {
	box-shadow: 0 0 #1ea054;
	top: 6px;
}


/* Font Stuff */
.name {
	font-family: 'Raleway', sans-serif;
	font-weight: 500; 
	font-size: 70px; 
	letter-spacing: 10px;
}


.supertitle {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 100px; 
	margin-top: 40px;
}

.supertitle2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 100px; 
	margin-top: 40px;
	color: #FFF;
}

.header {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 100px; 
	margin-top: 40px;
	margin-bottom: 50px;
}

.dots {
	border: 1px solid;
}


h1 {
	font-size:48pt;
	font-weight:100;
	line-height:60pt;
}


/** Link Nav **/
nav a {
	z-index: 999999;
	position: relative;
	display: inline-block;
	margin: 15px 25px;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1.35em;
}

nav a:hover,
nav a:focus {
	outline: none;
}


a, a:visited {
text-decoration: none;
}

.links {
	margin-top: 50px;
}

/* Effect 21: borders slight translate */
.cl-effect-21 a {
	padding: 10px;
	color: #1c1c1c;
	font-weight: 700;
	text-shadow: none;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}

.cl-effect-21 a::before,
.cl-effect-21 a::after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background: #b70000;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.cl-effect-21 a::before {
	top: 0;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.cl-effect-21 a::after {
	bottom: 0;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}

.cl-effect-21 a:hover,
.cl-effect-21 a:focus {
	color: #b70000;
}

.cl-effect-21 a:hover::before,
.cl-effect-21 a:focus::before,
.cl-effect-21 a:hover::after,
.cl-effect-21 a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}


/** Resume Progress Bars **/

.progressbar {
    height: 10px;
    position: relative;
    background: #f3efe6;
    overflow: hidden;
}

.progressbar span {
    display: block;
    height: 100%;
}

.progressbar2 {
    height: 23px;
    position: relative;
    overflow: hidden;
}

.progressbar2 span {
    display: block;
    height: 100%;
}

.html {
    background-color: #8B9E9B;
    -webkit-animation: progressBar 3s ease-in-out;
    -webkit-animation-fill-mode:both; 
    -moz-animation: progressBar 3s ease-in-out;
    -moz-animation-fill-mode:both; 
}

@-webkit-keyframes progressBar {
  0% { width: 0; }
  100% { width: 100%; }
}

@-moz-keyframes progressBar {
  0% { width: 0; }
  100% { width: 100%; }
}

.css {
    background-color: #6D7578;
    -webkit-animation: progressBar 3s ease-in-out;
    -webkit-animation-fill-mode:both; 
    -moz-animation: progressBar 3s ease-in-out;
    -moz-animation-fill-mode:both; 
}

@-webkit-keyframes progressBar {
  0% { width: 0; }
  100% { width: 100%; }
}

@-moz-keyframes progressBar {
  0% { width: 0; }
  100% { width: 100%; }
}

.jquery {
    background-color: #3B4058;
    -webkit-animation: progressBar 3s ease-in-out;
    -webkit-animation-fill-mode:both; 
    -moz-animation: progressBar 3s ease-in-out;
    -moz-animation-fill-mode:both; 
}

@-webkit-keyframes progressBar {
  0% { width: 0; }
  100% { width: 100%; }
}

@-moz-keyframes progressBar {
  0% { width: 0; }
  100% { width: 100%; }
}

.photoshop {
    background-color: #029DAF;
    -webkit-animation: progressBar 3s ease-in-out;
    -webkit-animation-fill-mode:both; 
    -moz-animation: progressBar 3s ease-in-out;
    -moz-animation-fill-mode:both; 
}

@-webkit-keyframes progressBar {
  0% { width: 0; }
  100% { width: 100%; }
}

@-moz-keyframes progressBar {
  0% { width: 0; }
  100% { width: 100%; }
}

.illustrator {
    background-color: #F19514;
    -webkit-animation: progressBar 3s ease-in-out;
    -webkit-animation-fill-mode:both; 
    -moz-animation: progressBar 3s ease-in-out;
    -moz-animation-fill-mode:both; 
}

@-webkit-keyframes progressBar {
  0% { width: 0; }
  100% { width: 100%; }
}

@-moz-keyframes progressBar {
  0% { width: 0; }
  100% { width: 100%; }
}

.indesign {
    background-color: #B33D75;
    -webkit-animation: progressBar 3s ease-in-out;
    -webkit-animation-fill-mode:both; 
    -moz-animation: progressBar 3s ease-in-out;
    -moz-animation-fill-mode:both; 
}

@-webkit-keyframes progressBar {
  0% { width: 0; }
  100% { width: 100%; }
}

@-moz-keyframes progressBar {
  0% { width: 0; }
  100% { width: 100%; }
}


.people {
    background-color: #8B9E9B;
    -webkit-animation: progressBar 3s ease-in-out;
    -webkit-animation-fill-mode:both; 
    -moz-animation: progressBar 3s ease-in-out;
    -moz-animation-fill-mode:both; 
}

@-webkit-keyframes progressBar {
  0% { width: 0; }
  100% { width: 100%; }
}

@-moz-keyframes progressBar {
  0% { width: 0; }
  100% { width: 100%; }
}

.time {
    background-color: #6D7578;
    -webkit-animation: progressBar 3s ease-in-out;
    -webkit-animation-fill-mode:both; 
    -moz-animation: progressBar 3s ease-in-out;
    -moz-animation-fill-mode:both; 
}

@-webkit-keyframes progressBar {
  0% { width: 0; }
  100% { width: 100%; }
}

@-moz-keyframes progressBar {
  0% { width: 0; }
  100% { width: 100%; }
}

.baking {
    background-image:-webkit-gradient( linear, left top, right top, color-stop(0, #9ebcd3), color-stop(0.4, #a2d49f), color-stop(0.6, #c7c12f), color-stop(0.8, #f26247), color-stop(0.9, #ec2045));
    /*background-image: url('../images/cake.gif');*/
    -webkit-animation: progressBar 3s ease-in-out;
    -webkit-animation-fill-mode:both; 
    -moz-animation: progressBar 3s ease-in-out;
    -moz-animation-fill-mode:both; 
}

@-webkit-keyframes progressBar {
  0% { width: 0; }
  100% { width: 100%; }
}

@-moz-keyframes progressBar {
  0% { width: 0; }
  100% { width: 100%; }
}



/* ----- TOOLTIP ---- */
.tipsy { font-size: 11px; position: absolute; padding: 5px; z-index: 100000; }
.tipsy-inner { background-color: #000; color: #FFF; max-width: 200px; padding: 5px 8px 4px 8px; text-align: center; }

/* Rounded corners */
.tipsy-inner { border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }

/* Uncomment for shadow */
/*.tipsy-inner { box-shadow: 0 0 5px #000000; -webkit-box-shadow: 0 0 5px #000000; -moz-box-shadow: 0 0 5px #000000; }*/

.tipsy-arrow { position: absolute; width: 0; height: 0; line-height: 0; border: 5px dashed #000; }

/* Rules to colour arrows */
.tipsy-arrow-n { border-bottom-color: #000; }
.tipsy-arrow-s { border-top-color: #000; }
.tipsy-arrow-e { border-left-color: #000; }
.tipsy-arrow-w { border-right-color: #000; }

.tipsy-n .tipsy-arrow { top: 0px; left: 50%; margin-left: -5px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent; }
.tipsy-nw .tipsy-arrow { top: 0; left: 10px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent;}
.tipsy-ne .tipsy-arrow { top: 0; right: 10px; border-bottom-style: solid; border-top: none;  border-left-color: transparent; border-right-color: transparent;}
.tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -5px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
.tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
.tipsy-se .tipsy-arrow { bottom: 0; right: 10px; border-top-style: solid; border-bottom: none; border-left-color: transparent; border-right-color: transparent; }
.tipsy-e .tipsy-arrow { right: 0; top: 50%; margin-top: -5px; border-left-style: solid; border-right: none; border-top-color: transparent; border-bottom-color: transparent; }
.tipsy-w .tipsy-arrow { left: 0; top: 50%; margin-top: -5px; border-right-style: solid; border-left: none; border-top-color: transparent; border-bottom-color: transparent; }

.tip {
	cursor: pointer;
}



/*  
Sticky Footer Solution
*/

* {margin:0;padding:0;} 

/* must declare 0 margins on everything, also for main layout components use padding, not 
vertical margins (top and bottom) to add spacing, else those margins get added to total height 
and your footer gets pushed down a bit more, creating vertical scroll bars in the browser */

html, body {
	height: 100%;
}

#wrap {
	min-height: 100%;
}

#main {
	overflow:auto;
	padding-bottom: 180px;
	}  /* must be same height as the footer */

#footer {
	position: relative;
	margin-top: -100px; /* negative value of footer height */
	height: 100px;
	clear:both;
	/*background-color: #595959;*/
	color:#FFF;
	margin-top: 50px;
	
} 

.icons {
	font-size: 25px;
	margin-left: 8px;
	opacity: 0.6;
}


/*Opera Fix*/
body:before {
content:"";
height:100%;
float:left;
width:0;
margin-top:-32767px;
}

.title-footer {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700; 
	color:#898989;
	letter-spacing: 5px;
}


.title-footer2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700; 
	color:#898989;
	margin-top:-5px;
}

#footer p {
	color:#898989;
	margin-top: 2px;
	margin-left: 8px;
}

#footer li {
	color:#898989;
}


#footer a {
	text-decoration: none;
	color:#000;
}	

#footer a:hover{
	color: #1ABC9C;
}

.footericons {
	font-size: 50px;
}