
/*
 * -- Layout Styles --
 */
.l-content {
  margin: 0 auto;
}

.is-center{
  text-align: center;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.l-box {
  padding: 0.5em 2em;
}

.mbs {
  margin-bottom: 10px;
}

.mbl {
  margin-bottom: 50px;
}

.mtl {
  margin-top: 50px;
}

.mtxl {
  margin-top: 140px;
}

.information {
  max-width: 980px;
  margin: 0 auto;
}


/*
 * -- Typography Styles --
 */

.name {
  font-family: 'Montserrat', sans-serif;
  font-size: 90px;
  letter-spacing: 10px;
  margin-bottom: 0px;
}

.sub {
  font-family: 'Lato', sans-serif;
  font-size: 50px;
  font-weight: 300;
  margin-top: 0px;
  margin-bottom: 90px;
}

a {
  color: #000;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  text-decoration: none;
}

a:hover{
  color: #FE4365;
}

.icons {
  margin-top: 50px;
}

.personal2 {
  text-align: center;
}

.personal2 a{
  font-size: 90px;
}

/*
 * -- Media Queries --
 */


@media (max-width: 950px) {
  .name {
    font-family: 'Montserrat', sans-serif;
    font-size: 80px;
    letter-spacing: 5px;
  }

  .sub {
  font-family: 'Lato', sans-serif;
  font-size: 50px;
  font-weight: 300;
  margin-top: 0px;
  }
}



@media (max-width: 770px) {
  .name {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    margin-top: 50px;
  }

  .sub {
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 30px;
  }

  .personal2 a{
  font-size: 50px;
  }

}

